
body {
    font-family: 'Oswald', sans-serif;
        background: linear-gradient(to right, #02111d, #037bb5, #02111d); 
    
}
.container {
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container p {
    text-align: center;
    width: 40%;
    font-size: 18px;
}

h1 {
    font-size: 21px;
    text-transform: uppercase;
}

